.grafs_main{
    width: 100%;
    /*height: calc(100vh - 70px);*/
    background-color: #b0b0b0;
    padding: 20px;
}

.main_graf{
    width:20%;
    /*height:70%;*/
    padding:20px;
    background-color: #faf6f6;
    overflow: hidden;
}

.main_graf_header{
    text-align: center;
    font-size: 12px;
    color: var(--main-text-colored);
    margin-bottom: 20%;
}

.footer_label{
    text-align: center;
    letter-spacing: 1px;
    font-size: 14;
}

.description{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 30px;

}

.description_color{
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: var(--main-text-colored);
}