.grafs_main{
    background-color: #b0b0b0;
    padding: 20px;
    display: flex;
    height: calc(100vh - 110px);
    box-sizing: border-box;

}

.secondary_grafs{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: space-evenly;
}

.secondary_graf{
    width: 28%;
    height: 290px;
    background-color: #fdfdfd;
    margin-left: 5px;
}

.secondary_graf:nth-child(-n + 3) {
    margin-bottom: 15px;
    height: 200px;
}

.main_graf{
    width:23%;
    padding:20px;
    background-color: #faf6f6;
    overflow: hidden;
}

.main_graf_header{
    text-align: center;
    font-size: 14px;
    color: var(--main-text-colored);
    margin-bottom: 20%;

}

.footer_label{
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
    padding-top: 20px
}

.description{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 10px;
    padding-top: 10px;
    padding-left: 30px;

}

.description_color{
    height: 5px;
    width: 5px;
    border-radius: 100%;

}

.blue_one{background-color: #4573fc;}
.blue_two{background-color: #1627ee;}
.blue_three{background-color: #03195b;}

