.side_menu{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.sideMenu_title{
    color: #cbcbcb;
}

.side_menu img{
    width: 12px;
    height: 12px;
    margin: 0 10px;
}

.router_content{
    background-color: #ababab;
}

