.side_menu_item{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    font-size: 14px;
}

.side_menu{
    z-index: 1;
}

.side_menu_item:hover{
    border: 1px solid #fdfdfd;

}

.sideMenu_title{
    color: #cbcbcb;
}

.side_menu_item img{
    width: 12px;
    height: 12px;
    margin: 0 10px;
}

.sideMenu_title{
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.router_content{
    background-color: #ababab;
}

