.loader {
    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    to {
        border-top-color: #ec407a;
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        border-top-color: #ec407a;
        transform: rotate(360deg);
    }
}

.container {
    margin: 0 auto;
}