
.page_wrapper {
    display: flex;
    flex-direction: column;
    /*height: calc(100vh - 70px);*/
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0;
}


.products_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 8px;
    margin-top: 0;
}

.product_item {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 80px 120px 120px; /* id, title, category, price, returnPolicy, warranty */
    align-items: center;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 12px;
    transition: 0.2s;
}


.blue { background-color: #f6f6f6; }
.white { background-color: #ffffff; }

.product_id { font-weight: bold; text-align: left; }
.product_title { padding-left: 4px; text-align: left; }
.product_category { text-transform: capitalize; text-align: left; }
.product_price { font-weight: bold; color: #2a9d8f; text-align: left; }
.product_returnPolicy,
.product_warrantyInformation { font-size: 10px; color: #555; text-align: left; }


.product_item:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

tr{
    text-align: left;
}

.table_wrapper {
    width: 100%;
    overflow-x: auto;
}

.products_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    table-layout: fixed;
    margin-top: 0;
}

.products_table th,
.products_table td {
    padding: 8px;
    font-weight: normal;
}


.list_pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.list_pagination .current {
    width: 50px;
    text-align: center;
    padding: 4px;
}

.list_pagination button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #b0b0b0;
    color: white;
}

.list_pagination button:disabled {
    opacity: 0.5;
    cursor: default;
}


.list_amount {
    margin-top: 12px;
}

.list_amount select {
    margin-left: 8px;
    padding: 4px;
}

.list_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
    border-top: 1px solid var(--main-text-colored);
    font-size: 12px;
}

@media (max-width: 768px) {
    .products_table th, .products_table td,
    .product_item {
        font-size: 10px;
        padding: 6px;
        grid-template-columns: 40px 1fr 1fr 60px 100px 100px;
    }
}

.products_header{
    height: 80px;
    background-color: #ffffff;
    align-items: center;
    color:#4E80D1;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


.search_header input {
    margin: 10px;
    width: 100%;
    max-width: 200px;
    padding: 8px 12px;
    border: solid 1px #e5e5e5;
    background-color: #fdfdfd;

    font-size: 14px;
    transition: all 0.2s ease;
    outline: none;
}

.search_header input:focus {
    box-shadow: 0 0 0 1px #969696;
    background-color: #fff;
}
